@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

body {
    font-family: 'Quattrocento', Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: large;
    background: antiquewhite;
    overflow: scroll;
    margin-bottom: 300px;
}

body.switched {
    transition: color 0.6s, background-color 0.6s;
}

h1,
h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Dawning of a New Day", "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    font-size: 2.8em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
    color: #BBB;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}


/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    padding-bottom: 100px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #403833;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
        background: #403833; /*#634e34;*/
    }
}

.container {
    display: block;
    height: auto;
    max-width: 600px;
    min-height: 80%;
    margin: 60px auto 20px auto;
    overflow: auto;
    padding: 50px;
    background: #d6d6d4 /*grey white */;
    background-image: url("images/background-paper.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.switched .container {
    transition: background-color 0.6s;
}

p {
    /*font-size: 17pt;*/
    color: #333;
    line-height: 1.7em;
    font-weight: lighter;
}

a {
    font-weight: lighter;
    color: white;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
    color: #a48f7a;
    transition: color 0.1s;
}

strong {
    color: black;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.3em;
    background-color: #2e536f;
    padding: 20px 40px 20px 40px;
    margin: 0;
}

/* 
  Class applied to first choice
*/
:not(.choice) + .choice {
    background-color: #2e536f;
    margin-top: 40px;
    padding: 60px 40px 20px 40px;
    border-image-source: url("images/line_white.png");
    border-image-repeat: stretch;
    border-image-slice: 40;
    border-image-width: 20px 0 0 0;
}

/*
  Class applied to choice links
*/
.choice a {
    /*font-size: 17pt;*/
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    z-index: 4;
    font-size: 0.7em;
    text-align: center;
    padding: 20px 5px 30px;
    position: fixed;
    right: 5px;
    top: 20px;
    user-select: none;
    background: #312a24;
    border-image-source: url("images/line_white.png");
    border-image-repeat: stretch;
    border-image-slice: 40;
    border-image-width: 0 0 15px 0;
    transition: color 0.6s, background 0.6s;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* 
  Customized Classes:
*/
.chapter {
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: #312a24;
    padding: 1.5em 0.2em;
    font-size: 1.8em /*20pt*/;
    font-style: normal;
    margin: 0 7% 50px 7%;
    background-image: url("images/line_ornamental.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.subchapter {
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: #312a24;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em /*18pt*/;
    font-style: italic;
}

.Highlight {
    font-family: "Courier Prime", "Courier New", Courier, monospace;
    text-align: center;
    line-height: normal;
}

.challenge {
    background-color: white;
    border: solid black 2px;
}

.meme {
    font-family: Workbench2, "Courier Prime", "Courier New", Courier, monospace;
    font-size: 1.7em;
    text-align: center;
}

/* 
  Dark Theme (Added in Inky 0.10.0)
    # theme: dark
*/

body.dark {
    background: black;
    color: white;
}

.dark h2 {
    color: #666;
}

.dark .container {
    background: #333333 /*#403833grey brown*/;
    background-image: url("images/texture-1155341_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.dark .written-in-ink {
    background: black;
}

.dark p {
    color: #E1E1E1;
    font-weight: lighter;
}

/*.dark a {
    color: #cc8f1a;
    transition: color 0.6s;
}

.dark a:hover {
    color: white;
}*/

.dark strong {
    color: white;
}

.dark #controls [disabled] {
    color: #444;
}

.dark .end {
    color: white;
}

.dark #controls {
    background: #212224;
}
